@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
* {
  font-family: "Montserrat", sans-serif;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(224, 224, 224, 0.5);
  width: 100vw;
  height: 100vh;
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  width: 300px;
  padding: 36px 24px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.1);
  color: white;
}
.message.success {
  background: linear-gradient(to bottom right, #1A936F, #85D196);
  margin-right: 16px;
}
.message.error {
  background: linear-gradient(to bottom right, #8C2A1D, #E06335);
}

.message-button {
  width: auto;
  min-width: 180px;
  padding: 12px 36px;
  border-radius: 100px;
  margin-top: 20px;
  transition: all 0.3s ease-out;
  font-size: 16px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
}
.message-button:hover {
  transition: all 0.35s ease-in-out;
  transform: scale(1.05);
}
.message-button:focus {
  outline: none;
}

.message-icon {
  font-size: 120px;
  margin-bottom: 24px;
}
.message-icon.fa-check-circle {
  -webkit-animation: slideAndPulse 1.7s;
          animation: slideAndPulse 1.7s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.message-icon.fa-times-circle {
  -webkit-animation: slideFromTop 1.7s 1;
          animation: slideFromTop 1.7s 1;
}

@-webkit-keyframes slideFromTop {
  0% {
    transform: translateY(-150%);
    color: #8C2A1D;
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
    transition: 0.1s ease-in;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-150%);
    color: #8C2A1D;
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
    transition: 0.1s ease-in;
  }
}
@-webkit-keyframes slideAndPulse {
  0% {
    color: #1A936F;
    transform: translateX(-180%);
    transition-timing-function: ease-out;
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
    transition: 0.1s ease-in;
  }
}
@keyframes slideAndPulse {
  0% {
    color: #1A936F;
    transform: translateX(-180%);
    transition-timing-function: ease-out;
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
    transition: 0.1s ease-in;
  }
}
.message-text {
  margin: 36px 0;
}